{% extends 'base.html.twig' %}

{% block title %}Register Team{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h1>Create your team</h1>
</div>
<section class="mt-4">
    <div class="container">
    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.Name) }}
            </div>
		</div>
        <div class="row">
				<div class="col">
					{{ form_row(form.Logo) }}
				</div>
		</div>
        <div class="row">
				<div class="col">
					{{ form_row(form.name) }}
				</div>
		</div>
        
    {{ form_end(form) }}
    </div>
</section>

{% endblock %}