{% extends 'base.html.twig' %}

{% block title %}Profil agents
{% endblock %}

{% block body %}
<body>
		<section class="my-3">
			<div class="container">
				<div class="row">
					<!-- Colonne pour le texte et le logo -->
					<div class="col-lg-4 text-start" id="agent-description">
						<h1>{{agent.displayName}}</h1>
						<p class="text-white py-4">
							{{agent.description}}
						</p>
						<div class="role-card border-none rounded d-flex justify-content-start">
							<div class="icon-container">
							<img src="{{agent.role.displayIcon}}" alt="Logo {{agent.role.displayName}}" class="logo img-fluid pb-3" loading="lazy" width="24px" heigth="24px">
							</div>
							<div class="role-title">
							<p>{{agent.role.displayName}}</p>
						</div>
						</div>
					</div>
					<!-- Colonne pour l'image du personnage -->
					<div class="col-lg-8 d-flex justify-content-end">
						<img src="{{agent.bustPortrait}}" alt="{{agent.displayName}}" class="img-fluid" loading="lazy">
					</div>
				</div>
			</div>
		</section>
		<section class="my-4" id="agent-abilities">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex justify-content-start">
						<div class="text-center h-100">
							{% for ability in agent.abilities %}
								{% if ability.displayIcon is not null %}
									<img src="{{ ability.displayIcon }}" class="img-fluid icon px-2" alt="{{ ability.displayName }}" loading="lazy" id="ability-icon">
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<!--- Au click de l'icône j'affiche le titre de l'ability et sa description -->
					{# <div class="col-lg-6 d-flex justify-content-end">
						{% for ability in agent.abilities %}
							<p>{{ability.displayName}}</p>
							<p>{{ability.description}}</p>
						{% endfor %}
					</div> #}
				</div>	
			</div>
		</section>
</body>
{% endblock %}

