{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="my-3">Please sign in</h1>
    </div>
    <div class="container">
        <div class="my-4">
            <div class="row">
                <div class="col-lg-6" id="login">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }},
                                <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <div class="my-3">
                            <label for="inputEmail" class="text-white">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            {% if emailError %}
                                <div class="text-danger">{{ emailError }}</div>
                            {% endif %}
                        </div>

                        <div class="my-3">
                            <label for="inputPassword" class="text-white">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            {% if passwordError %}
                                <div class="text-danger">{{ passwordError }}</div>
                            {% endif %}
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        
                        <div class="mt-4 d-flex justify-content-center">
                            <button type="submit" id="btn-valos" class="transparent">
                                <p>
                                    <span class="bg"></span>
                                    <span class="base"></span>
                                    <span class="text">Sign in</span>
                                </p>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <img src="{{ asset('picture/phoenix-sf-valo.webp')}}" alt="image phoenix" class="img-fluid" loading="lazy">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
